
body::before {
  content: "JANUARY 2026 \A  S  M  T  W  T  F  S \A              1  2  3 \A  4  5  6  7  8  9 10 \A 11 12 13 14 15 16 17 \A 18 19 20 21 22 23 24 \A 25 26 27 28 29 30 31 ";
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 999;
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  color: #f8f8f2;
  padding: 25px;
  background: #282a36;
  border: 2px solid #6272a4;
  border-radius: 12px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);

  /* Dracula Highlight */
  background-image: radial-gradient(circle, #ff79c6 55%, transparent 60%);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 24.0px 157.6px;
}